<% provide(:title, "Charts") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   
    <h1>Charts</h1>
    
    <p>
       <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Most Popular Platform</h3>
    <%= pie_chart Game.group(:platform).count %>
  </div>
  
<div class="col-xs-6">
    <h3> game releasd per year</h3>
    <%= column_chart Game.group(:release_year).count %>
  </div>

    </p>
  </body>
</html>
