<% provide(:title, "Contact") %>
<<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p> Contact the Beast Games team about this app at beastgames@hotmail.com

    </p>
  </body>
</html>