<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
 </head>
  <body>
    <div class="center jumbotron">
  <h1>Beast Games</h1>
  <h2>
    This is the home page for the Beast Games  </h2>
  <%= link_to "Sign up!", '/users/sign_up', class: "btn btn-lg btn-primary" %>
</div>
  </body>
  <iframe width="1150" height="355" src="https://www.youtube.com/embed/-coF2yeZ1Co?rel=0&amp;controls=0&amp;showinfo=0&amp;start=5&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</html>