<% provide(:title, "Tweets") %>
<div class="center jumbotron">
  <h1>Tweet Banter</h1>
  <h2>Tweets from IGN</h2>



<div id = 'tweetsdiv'>
		<% @tweets.each do |a| %>
			<div class = 'panel panel-inverse'>
			<div class = 'panel-body' style = 'height:100px; background-color:#3346FF'>
				<p style = "font-family: 'Raleway',ariel; font-size: 19px; font-weight: 500; margin: 1 1 26px;"><%=a %></p>
			</div>
			</div>
		<% end %>
</div>


	<script>

		function loadlink(){
		    $('#tweetsdiv').load(window.location.href + " #tweetsdiv");
		}
	loadlink(); // This will run on page load
	setInterval(function(){
	    loadlink() // this will run after every 10 seconds
	}, 7000);
		
	</script