<% provide(:title, "Tweets") %>
<center>
	<h1> IGN Tweets</h1>
	    <div class="center jumbotron">
	<h2>View the latest Tweet chatter from IGNgames.</h2>
</center>


<div id = 'tweets'>
		<% @tweets.each do |a| %>
			<div class = 'panel panel-default'>
			<div class = 'panel-body' style = 'height:80px; background-color:#ccffff'>
				<p style = "font-family: 'Raleway',sans-serif; font-size: 16px; font-weight: 500; margin: 0 0 24px;"><%=a %></p>
			</div>
			</div>
		<% end %>
</div>

	<script>

		function loadlink(){
		    $('#tweetsdiv').load(window.location.href + " #tweetsdiv");
		}
	loadlink(); // This will run on page load
	setInterval(function(){
	    loadlink() // this will run after every 10 seconds
	}, 10000);
		
	</script>